{{ define "main" }}
  <h1>{{ .Title }}</h1>

  {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $dateHuman := .Date | time.Format ":date_long" }}
  <time datetime="{{ $dateMachine }}" class="block">{{ i18n "PostedOn" (dict "date" $dateHuman) }}</time>
  {{ $lastmodMachine := .Lastmod | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $lastmodHuman := .Lastmod | time.Format ":date_long" }}
  <time datetime="{{ $lastmodMachine }}" class="block">{{ i18n "LastModOn" (dict "date" $lastmodHuman) }}</time>

  {{ .Content }}
  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
{{ end }}
